<div class="header">

    <app-header></app-header>
</div>
<!-- <app-font-size-changer></app-font-size-changer> -->
 <br>
<div class="controls">
    <div class="buttons">
        <div class="move">

            <button class="btn btn-primary" (click)="handelEditMove()">Move</button>
            <span>{{edit?"MoveOFF":"MoveON"}}</span>
        </div>
        <button class="btn btn-danger" (click)="handleDelete()">Delete </button>
        <!-- <button>Resize</button> -->
    </div>
    <div class="color">

        <input type="color" [(ngModel)]="selectedColor">
        <div draggable="true"
            (dragstart)="onDragStart($event)">{{selectedColor}}</div>
    </div>
    <div class="download">
        <button class="btn btn-info" (click)="generatePdf()">Download As PDF</button>
    </div>
</div>
<br>
<div class="main">

    <div class="sidebar">

        <app-sidebar></app-sidebar>
    </div>

    <div class="resume" id="pdfContent">
        <app-contacts></app-contacts>
        <ng-container #container></ng-container>
        <!-- <button (click)="loadContactsComponent()">Add</button> -->
    </div>
    <!-- <div id="pdfContent">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, veniam.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </div> -->
</div>
